<h1>Novo Endereço</h1>

<div class="well">
  <form #formEndereco="ngForm">
    <div class="form-group">
      <label for="rua">Rua:</label>
      <input
        [(ngModel)]="endereco.rua"
        #rua="ngModel"
        type="text"
        class="form-control"
        minlength="2"
        name="rua"
        id="rua"
        required
      />
      <div
        *ngIf="rua.errors && (rua.dirty || rua.touched)"
        class="alert alert-danger"
      >
        <div [hidden]="!rua.errors?.['required']">Digite o endereço!</div>
        <div [hidden]="!rua.errors?.['minlength']">
          O Endereço deve conter ao menos 2 caracteres
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="idade">Numero:</label>
      <input
        [(ngModel)]="endereco.numero"
        #numero="ngModel"
        type="number"
        name="numero"
        id="numero"
        class="form-control"
        required
      />
      <div
        *ngIf="numero.errors && (numero.dirty || numero.touched)"
        class="alert alert-danger"
      >
        <div [hidden]="!numero.errors?.['required']">
          Digite o número do endereço!
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="idade">Complemento:</label>
      <input
        [(ngModel)]="endereco.complemento"
        #complemento="ngModel"
        type="text"
        name="complemento"
        id="complemento"
        class="form-control"
        required
      />
      <div
        *ngIf="complemento.errors && (complemento.dirty || complemento.touched)"
        class="alert alert-danger"
      >
        <div [hidden]="!complemento.errors?.['required']">
          Digite o complemento!
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="idade">Bairro:</label>
      <input
        [(ngModel)]="endereco.bairro"
        #bairro="ngModel"
        type="text"
        name="bairro"
        id="bairro"
        class="form-control"
        required
      />
      <div
        *ngIf="bairro.errors && (bairro.dirty || bairro.touched)"
        class="alert alert-danger"
      >
        <div [hidden]="!numero.errors?.['required']">Digite o bairro!</div>
      </div>
    </div>
    <div class="form-group">
      <label for="idade">CEP:</label>
      <input
        [(ngModel)]="endereco.cep"
        #cep="ngModel"
        type="text"
        name="cep"
        id="cep"
        class="form-control"
        required
      />
      <div
        *ngIf="cep.errors && (cep.dirty || cep.touched)"
        class="alert alert-danger"
      >
        <div [hidden]="!cep.errors?.['required']">Digite o CEP!</div>
      </div>
    </div>
    <div class="form-group">
      <label for="idade">Cidade:</label>
      <ng-select
        name="cidade"
        [items]="cidades"
        bindLabel="nome"
        placeholder="Selecione uma Cidade"
        [(ngModel)]="endereco.cidade"
      ></ng-select>
    </div>
    <div class="form-group">
      <label for="idade">Estado:</label>
      <input
        [(ngModel)]="endereco.estado"
        #estado="ngModel"
        type="text"
        name="estado"
        id="estado"
        class="form-control"
        required
      />
      <div
        *ngIf="estado.errors && (estado.dirty || estado.touched)"
        class="alert alert-danger"
      >
        <div [hidden]="!estado.errors?.['required']">Digite o bairro!</div>
      </div>
    </div>
    <div class="form-group">
      <label for="residencial">Residencial:</label>&nbsp;
      <input
        type="checkbox"
        name="residencial"
        id="residencial"
        class="form-check-input"
        [(ngModel)]="endereco.residencial"
        #residencial="ngModel"
      />
    </div>
    <div class="form-group">
      <label for="tipo">Tipo</label><br />
      <input
        type="radio"
        name="tipo"
        id="tipo1"
        [(ngModel)]="endereco.tipo"
        #tipo1="ngModel"
        class="form-check-input"
        value="Avenida"
      />Avenida<br />
      <input
        type="radio"
        name="tipo"
        id="tipo2"
        [(ngModel)]="endereco.tipo"
        #tipo2="ngModel"
        class="form-check-input"
        value="Rua"
      />Rua<br />
      <input
        type="radio"
        name="tipo"
        id="tipo3"
        [(ngModel)]="endereco.tipo"
        #tipo3="ngModel"
        class="form-check-input"
        value="Travessa"
      />travessa<br />
    </div>

    <div class="form-group">
      <button (click)="atualizar()" type="button" class="btn btn-primary">
        <i class="fa fa-save" aria-hidden="true"></i>Atualizar
      </button>
      <a href="" [routerLink]="['/pessoas']" class="btn btn-secondary">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>Voltar
      </a>
    </div>
  </form>
</div>
