<h1>Cidades</h1>

<table class="table table-striped table-bordered table-hover">
  <tbody>
    <tr>
      <th>Nome</th>
      <th>Estado</th>
      <th class="text-center">
        <a
          href="#"
          [routerLink]="['/cidades/novo']"
          title="Novo"
          alt="Novo"
          class="btn btn-xs btn-success"
        >
          <i class="fa fa-plus" aria-hidden="true"></i>Novo
        </a>
      </th>
    </tr>
    <tr *ngFor="let cidade of cidades">
      <td>{{ cidade.nome }}</td>
      <td>{{ cidade.estado | caixaAlta }}</td>
      <td class="text-center" style="width: 300px">
        <button
          type="button"
          class="btn btn-xs btn-info"
          (click)="abrirModalCidades(cidade)"
        >
          <i class="fa fa-eye" aria-hidden="true"></i>Ver
        </button>
        <a
          href="#"
          [routerLink]="['/cidades/editar', cidade.id]"
          title="Editar"
          alt="Editar"
          class="btn btn-xs btn-info"
        >
          <i class="fa fa_edit" aria-hidden="true"></i>Editar
        </a>
        <a
          href="#"
          (click)="remover($event, cidade)"
          title="Remover"
          alt="Remover"
          class="btn btn-xs btn-danger"
        >
          <i class="fa fa_times" aria-hidden="true"></i>Remover
        </a>
      </td>
    </tr>
  </tbody>
</table>
<p *ngIf="cidades.length == 0">Nenhuma Cidade Cadastrada</p>
